.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px greenyellow;
}
.note{
    font-size: 15px;

    color:rgb(163, 102, 102);

    
}
.copy_right_footer{
    position: fixed;
    color: rgb(29, 233, 189);
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;

}
canvas{
    border: 5px solid rgb(160, 167, 226);
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
}